{% extends "base.html" %}

{% block Title %}
  Tags
{% endblock Title %}

{% block Content %}
  <h1 class="my-4 d-flex justify-content-between">
    Tags
    <a href="{% url "todo:tag-create" %}" class="btn btn-primary mb-3">Add Tag</a>
  </h1>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tag_list %}
      <tr>
        <td>{{ tag.name }}</td>
        <td>
          <a href="#" class="btn btn-secondary mb-3">Update</a>
        </td>
        <td>
          <a href="#" class="btn btn-secondary mb-3">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No tags available</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock Content %}
